.contact-container{
    background-image: linear-gradient(to bottom ,#4cc9f0,#f72585);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding:40px 0; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56cfe1;
    padding: 0.50px;
    margin-top: -90px;
    border-radius: 10px;
    font-size: 25px;
}

#wrapper-1 {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    float: left;
}

.contact-options{
    display: flex;
    justify-content: space-evenly;
    margin-top: -120px;
}

.text-us{
    height: 40vh;
    width: 35vw; 
    border-radius: 10px;
    border: none;
    background-color: #b7e4c7;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.send{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.send-btn{
    width: 20vw;
    font-size: 1.1em;
    transition: all 0.2s ease;
    font-weight: bold;
    height: 7vh;
}

.email-num{
    background-color: #b7e4c7;
    border: none;
    border-radius: 5px;    
    margin: 8px 5px;
    height: 40px;
    width: 540px;
    padding: 5px;
}

/* .send-btn{
    background-color: #2d6a4f;
    border-radius: 0.50px;
    color: #e9ecef;
    padding: 0.50px 1.50px;
    font-size: 1.50px;
    font-family: cursive;
    transition: all 0.2s ease;
    border: none;
    font-weight: 600;
} */


#wrapper-2{
    float: right;
    flex-grow: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .contact-btn{
    font-family: cursive;
    padding: 1.50px 20px;
    font-size: 10px;
    background-color: #b7e4c7;
    border-radius: 0.50px;
    border: none;
    transition: all 0.2s ease;
} */

.contact-btn{
    transition: all 0.2s ease;
    font-weight: bold;
    width: 25vw;
}

.divider{
    border-left: 1px solid rgb(0, 0, 0);
    width: 1px;
    margin-left: -20px;
    margin-top: 10px;
    height: 30vh;
}

/* Animations  */

.contact-btn:hover{
    /* background-color: #2d6a4f; */
    color: #d8e2dc;
    display: pointer;
}
.send-btn:hover{
    color: #d8e2dc;
    display: pointer;
}

/* Ionic */

:root{
    --ion-color-primary: #49d279;
	--ion-color-primary-rgb: 73,210,121;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #40b96a;
	--ion-color-primary-tint: #5bd786;
}

@media (max-width:500px){
    .contact-btn{
        padding: 0.50px;
        margin-top: 10px;
        width: 50vw;
        font-size: 20px;
    }
    .email-num{
        width: 350px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        margin-right: 15px;
    }
    .text-us{
        height: 30vh;
        width: 60vw;
    }
    .divider{
        height: 20vh;
    }
    .heading{
        margin-top: -80px;
    }
    .heading h2{
        font-size: 32px;
    }
    .send-btn{
        padding: 0.10px;
        font-size: 10px;
        width: 40vw;
        height: 50px;
        margin-bottom: 5px;
        width: 50vw;
        font-size: 20px;
    }
    hr{
        width: 75vw;
        margin-left: 12.5vw;
        margin-top: 20px;
    }
    .contact-options{
        flex-direction: column;
        justify-content:flex-start; 
    }
    #wrapper-1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -150px;
    }
    #wrapper-2{
        margin-left: 20px;
        margin-top: 20px;
    }
} 