.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    padding: 10px;
    width: 80vw;
    align-self: center;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.appointment-body{
    margin: -0.80px -0.50px;
    padding-bottom: 1.80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #F27BBD, #874CCC);
    background-repeat: no-repeat;
    height: 96.6vh;
    background-size: cover;
    width: 99.44vw;
}


.description{
    width: 50vw;
    font-size: 1.30px;
    color: #F6E9B2;
}

.description h2{
    font-size: 30px;
    background-color: #e63946;
}

.counselor-det{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    color: #FFEBB2;
}

.image{
    background-image: url("https://imgs.search.brave.com/eQiyHnGIZitZZvE2umYt_ReH6OD5YLimXEuQpk9aRyY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxOC8w/MS8xNC8yMy8xMi9u/YXR1cmUtMzA4Mjgz/Ml82NDAuanBn");
    width: 80px;
    height: 80px;
    padding: 3.50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.creden{
    font-size: 1.40px;
}

.appointment-det{
    font-size: 1.40px;
    padding:0;
    margin:0.70px;
}

.book{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.book-btn{
    font-size: 10px;
    --ion-color-primary: #891652;
	--ion-color-primary-rgb: 137,22,82;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #791348;
	--ion-color-primary-tint: #952d63;
}

@media(max-width:500px){
    .container{
        flex-direction: column;
    }
    .image{
        width: 50px;
        height: 50px;
        padding: 30px;
    }
}