.about-us{
    background-image: linear-gradient(to bottom right,#f9844a,#4895ef);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    font-size: 1.1rem;
    color:#333d29;
    /* margin-right: -0.5rem; */
}

.heading-about{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: #f3722c;
}

.row-odd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    background-color: #00b4d8;
    border-radius: 1rem;
    width: 80vw;
    margin-left: 5vw;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.423);
    left: 0px;
}

.row-even{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    width: 80vw;
    margin-left: 15vw;
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.423);
}

.image-about{
    border-radius: 0.5rem;
    border: 1px solid transparent;
    padding: 1rem;
    transition: all 0.2s ease;
}

.content{
    width: 40vw;
    padding: 0.5rem;
    border: 2px solid transparent;
    font-family: cursive;
    transition: all 0.2s ease;
}

.product-disc-heading{
    margin  : 0;
}

/* Animations */

.content:hover{
    border:2px solid blue;
}
.image-about:hover{
    border: 1px solid rgba(4, 4, 4, 0.351);
}

/* Media Queries */

@media (max-width:500px){

    .row-even{
        flex-direction: column;
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 1rem;
    }
    img{
        margin-bottom: 1rem;
    }
    .row-odd{
        flex-direction: column;
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 1rem;
    }
    .content{
        color: #f4d35e;
    }
}