.about-us{
    background-image: linear-gradient(to bottom right,#f9844a,#4895ef);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    font-size: 20px;
    color:#333d29;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.heading-about{
    display: flex;
    justify-content: center;
    padding: 0.50px;
    margin-top: 10px;
    width: 20vw;
    border-radius: 5px;
    background-color: #f3722c;
}

.row-odd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background-color: #00b4d8;
    border-radius: 5px;
    width: 80vw;
    margin-right: 15vw;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.045);
    left: 0px;
}

.row-even{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 80vw;
    margin-left: 15vw;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.045);
}

.image-about{
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    transition: all 0.2s ease;
}

.content-about{
    width: 60vw;
    padding: 0.50px;
    border: 2px solid transparent;
    font-family: cursive;
    transition: all 0.2s ease;
}

.product-disc-heading{
    margin  : 0;
}

/* Animations */

.content:hover{
    border:2px solid blue;
}
.image-about:hover{
    border: 1px solid rgba(4, 4, 4, 0.351);
}

/* Media Queries */

@media (max-width:500px){

    .row-even{
        flex-direction: column;
        /* margin-left: 5vw;
        margin-right: 5vw; */
        padding: 10px;
    }
    .image-about{
        margin-bottom: 10px;
        padding: 0;
    }
    .row-odd{
        flex-direction: column;
        /* margin-left: 5vw;
        margin-right: 5vw; */
        padding: 10px;
    }
    .content-about{
        color: #f4d35e;
        padding: 0;
        font-size: 22px;
    }
    .image-about img{
    }

}