.appointment-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}
.appointment-body p{
    text-align: justify;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    width: 85%;
    height: 80%;
    padding: 30px;

}




.description {
    width: 50vw;
    font-size: 1rem;
    color: #f2f2f2;
}

.description h2 {
    font-size: 35px;
    margin-left: 20px;
}

.counselor-det {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;

}

.points{
    margin: 20px;
}
.creden {
    font-size: 1.2rem;
    margin: 10px;
}

.appointment-det {
    font-size: 1.5rem;
    margin: 10px;
}

.book-btn {
    font-size: 0.8rem;
    height: 45px;
    margin: 30px 0;
    --ion-color-primary: #9c89ff;
    --border-radius: 12px;
    --padding-top: 8px;
    --padding-bottom: 8px;
}

.carousel {
    width: 450px;
    padding: 50px;
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0);
}

.carousel h3 {
    font-size: 1.2rem;
}

.carousel ul {
    text-align: left;
    margin: 10px;
    font-size: 12px;
    margin-left: 50px;
}

.carousel .control-dots {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.description li {
    margin: 20px 0;
}


.doc-carousel img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.price {
    font-size: 1.5rem;
}

.duration {
    font-size: 1.3rem;
}

.loadingPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



/* **********Booking********* */
.bookingPage {
    display: flex;
    align-items: start;

}

.bookingPage input, .bookingPage select{
    margin: 10px 0;

}
.bookingForm {
    color: white;
}

.bookingCalender {
    margin: 30px;
}

.bookingSlots {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.date-time{
    --ion-color-primary: #9c89ff;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;

} 

@media only screen and (max-width: 770px) {


    .appointment-body {
        height: max-content;
        margin: 50px 0px;
    }

    .container {
        padding: 10px;
        flex-direction: column;
        height: max-content;
        width: 90vw;
        margin: 20px;
    }

    .carousel {
        width: 250px;
        padding: 0px;
    }

    .carousel.carousel-slider .control-arrow:hover {
        background: rgba(0, 0, 0, 0);
    } 

    .carousel .control-dots {
        top: 95%;
    }


    .description {
        width: 100%;
        padding: 10px;

    }

    .description h2 {
        font-size: 30px;
    }

    .description p {
        font-size: 0.9rem;
    }

    .book-btn {
        font-size: 1rem;
        height: 40px;
      
    }

    .bookingPage{
        flex-direction: column;
        align-items: center;
    }
}


 