.adminPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminBtns {
    height: 150px;
    width: 220px;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 1.4rem;
    font-weight: 500;
}

/* *********FeedBack Page******** */
.adminFeedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    width: 275px;
}

.feedbacks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: max-content;
}

/* *******Manage Availability***** */
.doc-unavail {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.doc-unavail .ibutton3 {
    margin-top: 30px;
    --padding-top:12px;
    --padding-bottom:12px;
}

.button0 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-native {
    --background: rgba(240, 227, 227, 0.352);
    border-radius: 14px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    margin: 15px 0;
}

.item-native::after {
    color: white;
}

.dateTime{
    margin: 15px 0;
    --ion-color-primary: #9c89ff;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    --ion-color-step-500: white;
    --ion-color-step-650: white;
    --ion-color-new-contrast: white;
    --wheel-highlight-background: orange;
    --wheel-fade-background-rgb: rgb(255,255,255);
}

/* ********Manage Items ******** */

.addItems {
    margin: 50px;
    width: 50%;
}

.addItems h2 {
    color: white;
}

.addItems button,
select {
    width: 100%;
    margin-top: 30px;
    border: none;
    padding: 20px;
    background-color: #9c89ff;
    ;
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
}

.addContainer {
    display: flex;
    justify-content: center;
}


.delContainer h2 {
    color: white;
    text-align: center;
}

.delPro {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.proCardsAdmin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}



.ibuttonEdit {
    --ion-color-primary: #36a709;
    margin: 10px;
}

.proCardAdmin {
    width: 300px;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 25px 10px;
    padding: 20px;
}

.selectBtn {
    width: 300px;
    margin: 25px;
}


.ibuttonDel {
    margin: 10px;
    font-size: 0.9rem;
    --ion-color-primary: #ff4000;
}

.catCardAdmin {
    width: 325px;
    min-height: 500px;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 25px 10px;
    padding: 20px;
}

.centreForm {
    display: flex;
    justify-content: center;
    align-content: center;
}

.editItems {
    color: white;
    padding: 30px;
    max-width: 500px;

}

.editItems input,
.editItems select {
    margin: 10px 0;
}

.editItems p {
    margin: 10px 0;
}

.editItems button {
    width: 100%;
    margin-top: 30px;
    border: none;
    padding: 20px;
    background-color: #9c89ff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
}

/* ********Manage Appointment******* */
.manageAppointment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.manageAppointment h2 {
    color: white;
}

.bookings {
    width: 100%;
    height: max-content;
}

.toggleBtns {
    background-color: #9c89ff;
    ;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
    color: white;
}

.bookedSlots {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slot {
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    margin: 30px;
    padding: 30px;
}

.slot li,
.order li {
    list-style: none;
}

.manageOrders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.manageOrderButtons{
    display: flex;
}
.manageOrderButtons button{
  flex: 1;
}
.orders {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.order {
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    margin: 30px;
    padding: 30px;
}



/* *******Manage Consultants********** */
.manageConsultants {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
}

.addConsultants {
    max-width: 500px;

}
.addConsultants p{
    margin: 0;
}
.addConsultants input{
    margin: 15px 0;
}

.addConsultants button,
select,
.deleteConsultants button {
    width: 100%;
    margin: 15px 0;
    border: none;
    padding: 20px;
    background-color: #9c89ff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
}

.manageConsultantsBtns{
    display: flex;
}
.manageConsultantsBtns button{ 
margin: 5px 15px;
width: auto;
}

.deleteConsultants {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}

.editBtnsAdmin{
    display: flex;
    align-items: center;

}
.editBtnsAdmin button{
    margin: 5px;
    padding: 10px;
    width: 20%;
}

.consultantsCat {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.consultantsCard {
    width: 400px;
    background-color: rgba(240, 227, 227, 0.352);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin: 30px;
    padding: 15px;
    text-align: start;

}

.consultantsCard img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin:0 20px ;
}

@media only screen and (max-width: 770px) {

    .adminFeedback {
        width: auto;
        margin: 20px 20px;
    }

    .addContainer,
    .adminPage {
        flex-direction: column;
    }

    .addItems {
        width: auto;
    }

    .proCardAdmin, .catCardAdmin {
        width: 90vw;
    }

    .consultantsCard {
        width: 90vw;
        margin: 30px 0;
    }

    .order{
        width: 90vw;
        margin: 0;
        margin-top: 30px;
    }
    
    .manageConsultantsBtns button{
        font-size: 0.7rem;
    }
}