.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.084);
    padding: 15px;
}
.logo h2{
    color: white;
}
.links {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

.link {
    color: white;
    font-size: 20px;
    margin: 10px;

}

.sidebar {
    display: none;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.136);
    backdrop-filter: blur(10px);

}

.sidebar a{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.mbtn {
    display: none;
    cursor: pointer;
}

.cbtn{
    cursor: pointer;
}

.quantity{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
}

@media only screen and (max-width: 770px) {

    .links {
        display: none;
    }

    .mbtn {
        display: block;
    }

    .open{
        display: flex;
        
        }
}




