.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.084);
    padding: 15px;
}

.links {
    display: flex;
    align-items: center;
    text-transform: uppercase;

}

.link {
    color: white;
    font-size: 20px;
    margin: 10px;

}

.link:hover {
    background-color: rgba(255, 255, 255, 0.074);
    border-radius: 3px;

}

.sidebar {
    display: none;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.136);
    backdrop-filter: blur(10px);

}



.mbtn {
    display: none;
    cursor: pointer;
}

.cbtn{
    cursor: pointer;
}


@media only screen and (max-width: 770px) {

    .links {
        display: none;
    }

    .mbtn {
        display: block;
    }

    .open{
        display: flex;
        
        }
}




